{% extends "admin/base_site.html" %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <h2>Overview</h2>
    <h3>Service Pools</h3>
    <h3>User Groups</h3>
    <h2>Administration</h2>
    To work on the data for the cost reports, please visit <a href="/admin">/admin</a>.
    <h2>Reports</h2>
    <ul>
        <li><a href="/reports/costbreakdown.csv">Cost Breakdown</a></li>
        <li><a href="/reports/usergroup.csv">User Groups</a></li>
    </ul>
</div>
{% endblock %}
