{% extends "admin/base_site.html" %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <h2>Overview</h2>
    Total cost for {{ year }}: {{ year.cost_estimate }} (actual: {{ year.cost }})<br>
    Divisions (including bill previews): <a href="/admin/recoup/division">Divisions</a>
    <h2>Administration</h2>
    To work on the data for the cost reports, please visit <a href="/admin/recoup">/admin/recoup</a> (main section: <a href="/admin/recoup/bill">Bills</a>).
    <h2>Categorisations</h2>
    <ul>
        <li><a href="/admin/recoup/servicepool">Service Pools</a></li>
        <li><a href="/admin/recoup/enduserservice">End User Services</a></li>
        <li><a href="/admin/recoup/platform">IT System Platforms</a></li>
    </ul>
    <h2>Reports</h2>
    TODO
</div>
{% endblock %}
